<h1>Features\AwesomeFeature\Views\Index.cshtml</h1>
@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("Users (area)", "Index", "Users", new { Area = "Admin" }, null)
@Html.ActionLink("Home (area)", "Index", "Home", new { Area = "Admin" }, null)