<h1>Awesome feature</h1>
<h2>@ViewBag.Title</h2>
@Html.ActionLink("Home", "Index", "Home")
@Html.ActionLink("Users feature (area)", "Index", "Users", new { Area = "Admin" }, null)
@Html.ActionLink("Home feature (area)", "Index", "Home", new { Area = "Admin" }, null)