<h1>Areas\Admin\Features\Home\Views\Index.cshtml</h1>
@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, null)
@Html.ActionLink("Awesome feature", "Index", "AwesomeFeature", new { Area = "" }, null)
@Html.ActionLink("Users (area)", "Index", "Users")