<h1>Views\Home\Index.cshtml</h1>
@Html.ActionLink("Awesome feature", "Index", "AwesomeFeature")
@Html.ActionLink("Users (area)", "Index", "Users", new { Area = "Admin" }, null)
@Html.ActionLink("Home (area)", "Index", "Home", new { Area = "Admin" }, null)