<h1>Areas\Admin\Features\Users\Views\Index.cshtml</h1>
@Html.ActionLink("Init", "Index", "Home", new { Area = "" }, null)
@Html.ActionLink("Awesome feature", "Index", "AwesomeFeature", new { Area = "" }, null)