<h1>Users feature (area)</h1>
<h2>@ViewBag.Title</h2>
@Html.ActionLink("Home", "Index", "Home", new { Area = "" }, null)
@Html.ActionLink("Awesome feature", "Index", "AwesomeFeature", new { Area = "" }, null)
@Html.ActionLink("Home feature (area)", "Index", "Home")